@import './reset.css';
@import './colors.css';
@import './sizes.css';

:root {
	/* @TODO: Import this font */
	--font-mono: 'Ioveska', ui-monospace, SFMono-Regular, Menlo, monospace;
}

body {
	-webkit-font-smoothing: antialiased;
	background-color: var(--surface-dark);
	color: var(--text);
	font-family: var(--font-mono);
}
